@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

}

